---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getBlogDetail, getBlogs } from "../../library/microcms"

export async function getStaticPaths() {
  const blogs = await getBlogs()
  return blogs.contents.map((blog) => ({
    params: { id: blog.id },
  }))
}

const pageTitle = "Blog - andna.dev"
const blog = await getBlogDetail(Astro.params.id)
---

<BaseLayout pageTitle={pageTitle}>
  <main class="container mx-auto px-6 py-4">
    <h1 class="prose prose-invert text-white">{blog.title}</h1>
    <p class="text-white">公開日時: {blog.publishedAt}</p>
    <div class="prose prose-invert text-white" set:html={blog.content} />
  </main>
</BaseLayout>
