---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getBlogs } from "../../library/microcms"

const pageTitle = "Blog - andna.dev"
const blogs = await getBlogs()
---

<BaseLayout pageTitle={pageTitle}>
  <main class="container mx-auto px-6 py-4">
    <h1>Blog</h1>
    <ul>
      {
        blogs.contents.map((blog) => (
          <li>
            <a href={`/blog/${blog.id}`}>{blog.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
