---
import Navigation from "./Navigation.astro"
import SocialLinks from "./SocialLinks.astro"
---

<nav class="flex items-center justify-between w-full px-4 py-2">
  <div class="flex-1 text-left">
    <p class="font-bold text-lg">andna.dev</p>
  </div>
  <div class="flex-1 flex justify-center">
    <Navigation />
  </div>
  <div class="flex-1 flex justify-end">
    <SocialLinks />
  </div>
</nav>
