---
import Navigation from "./Navigation.astro"
import SocialLinks from "./SocialLinks.astro"
---

<nav class="flex items-center justify-between w-[60%] mx-auto px-4 py-2">
  <div class="flex-1 text-left">
    <a href="/">
      <p class="font-bold text-lg">
        <img src="/andna-metallica.svg" alt="Home" class="w-6 h-6 inline" />
        andna.dev
      </p>
    </a>
  </div>
  <div class="flex-1 flex justify-center">
    <Navigation />
  </div>
  <div class="flex-1 flex justify-end">
    <SocialLinks />
  </div>
</nav>
