---

---

<div class="flex gap-6">
  <a
    href="/"
    class="text-white hover:text-teal-500 transition-colors font-medium group"
  >
    <span
      class="group-hover:brightness-150 group-hover:drop-shadow-[0_0_6px_theme('colors.teal.500')] transition"
      >Home</span
    >
  </a>
  <a
    href="/blog"
    class="text-white hover:text-teal-500 transition-colors font-medium group"
  >
    <span
      class="group-hover:brightness-150 group-hover:drop-shadow-[0_0_6px_theme('colors.teal.500')] transition"
      >Blog</span
    >
  </a>
</div>
