---

---

<div class="flex gap-4">
  <a
    href="https://github.com/andnandna"
    target="_blank"
    rel="noopener noreferrer"
    class="group"
  >
    <img
      src="/github-mark-white.svg"
      alt="GitHub"
      class="w-6 h-6 inline group-hover:brightness-150 group-hover:drop-shadow-[0_0_6px_theme('colors.teal.500')] transition"
    />
  </a>
  <a
    href="https://twitter.com/andnandna"
    target="_blank"
    rel="noopener noreferrer"
    class="group"
  >
    <img
      src="/x-logo.svg"
      alt="X"
      class="w-6 h-6 inline group-hover:brightness-150 group-hover:drop-shadow-[0_0_6px_theme('colors.teal.500')] transition"
    />
  </a>
</div>
