---

---

<div>
  <a
    href="https://github.com/andnandna"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="/github-mark-white.svg" alt="GitHub" class="w-6 h-6 inline" />
  </a>
  <a
    href="https://twitter.com/andnandna"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="/x-logo.svg" alt="X" class="w-6 h-6 inline" />
  </a>
</div>
